
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>    
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- styles -->
    <link rel="stylesheet" href="./styles_home.css" />
  </head>
<body>


<style>
	#map {
		height: 70%;
	}
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
</style>

 
<div class="" id="map"></div>


<script>
	let map
    let marker


  let markers=[]
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 41.99, lng: 21.456 },
			zoom: 10
		})
        
        

        // new google.maps.Marker({
        //         position: { lat: 42, lng: 21.456 },
        //         map: map,
        //     })
       
      
        home_marker = new google.maps.Marker({
            //42.004676276950306, 21.409826849727082
                position: {lat: 42.004676276950306, lng: 21.409826849727082},
                map: map,
                scale: 0.1,
                label: 'home',
                title: 'home'
            })
            
          
              


            

        <% for(let i = 0; i < restaurants.length; i++) { %>
            
            // var latRand = Math.random() * (0.011 - 0.021) + 0.009;
            // var lngRand = Math.random() * (0.00141 - 0.009) + 0.009
            var latRand = Math.random() * (0.001 - 0.02) + 0.021;
            var lngRand = Math.random() * (0.003 - 0.06) + 0.0451;
            marker = new google.maps.Marker({
                position: {lat: 41.99+latRand, lng: 21.43 +lngRand},
                map: map,
                scale: 0,
                label: '<%= restaurants[i].name_en %>',
                title: '<%= restaurants[i].name_en %>'
            })

            console.log(marker.label)
            console.log(marker)
            markers.push(marker)
            console.log(markers)
            
            marker.setMap(map)

        <% } %>

    //     var pathBetween = new google.maps.Polyline({
    //   path: [myLatLng,myLatLng1],
    //   strokeColor: '#FF0000',
    //   strokeOpacity: 1.0,
    //   strokeWeight: 2
    // });

   

    
      //da se proba
    //   const path = new google.maps.Polyline({
    // path: [markers[1].getPosition(),home_marker.getPosition()],
    // geodesic: true,
    // strokeColor: "#FF0000",
    // strokeOpacity: 1.0,
    // strokeWeight: 2,
    // });

    // // console.log(markers[1].getPosition().lat,markers[1].getPosition().lng)

    // path.setMap(map);
      //da se proba

    pathBetween.setMap(map);
    console.log(home_marker);
	}
</script>
<div>
  <div>
    <br>
      <input class ='category'type="checkbox" id="pizza" name="pizza" value="pizza">
      <label for="pizza">pizza</label>
      <input class ='category' type="checkbox" id="meat" name="meat" value="meat">
      <label for="meat">meat</label>
      <input class ='category' type="checkbox" id="vegan" name="vegan" value="vegan">
      <label for="vegan">vegan</label>
      <input class ='category' type="checkbox" id="mexican" name="mexican" value="mexican">
      <label for="mexican">mexican</label>
      <input class ='category' type="checkbox" id="asian" name="asian" value="asian">
      <label for="asian">asian</label>
      <button onclick="select()">select</button>
    </div>
    <br>
    <br>
</div>
<div>
  <% restaurants.forEach(restaurant => { %>
      <div >
          <li>
              <%= restaurant.name_en %>
              <button onclick="takeThere('<%= restaurant.name_en %>')">location</button>
              <button onclick="window.location.reload();">clear</button>
              <br>
              
              Category: <%= restaurant.category %>
              <br>
              
              <br>
              <br>
          </li>
      </div>
     
  <% }) %>
</div>



<script>

  

    
    function select(){
      var checkedValue = []; 
    var inputElements = document.getElementsByClassName('category');
    for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].checked){
           checkedValue.push (inputElements[i].value);
          //  break;
      }
}
    console.log(checkedValue)
  }

    

   function takeThere(name){

    
    for(var i = 0;i<markers.length;i++)
    {
      if(name===markers[i].label){

      const path = new google.maps.Polyline({
      path: [markers[i].getPosition(),home_marker.getPosition()],
      geodesic: true,
      strokeColor: "#FF0000",
      strokeOpacity: 1.0,
      strokeWeight: 2,
    });

    // console.log(markers[1].getPosition().lat,markers[1].getPosition().lng)

    path.setMap(map);
        console.log('ok')
      }
    }

    }


    let restaurani = '<%- str_rest %>'
    restaurani = JSON.parse(restaurants)
    console.log(restaurani)
    
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMraH0dFJoaQ2yJMW7R3cdAYXFpjDAaXc&callback=initMap">
</script>
  </body>
</html>




 