
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>    
   
    <!-- styles -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
<body>


<style>
	#map {
		height: 70%;
	}
</style>

 
<!-- ovde bese -->


<script>
	let map
    let marker


  let markers=[]
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 41.99, lng: 21.456 },
			zoom: 10
		})
        
        

        // new google.maps.Marker({
        //         position: { lat: 42, lng: 21.456 },
        //         map: map,
        //     })
       
      
        home_marker = new google.maps.Marker({
            //42.004676276950306, 21.409826849727082
                position: {lat: 42.004676276950306, lng: 21.409826849727082},
                map: map,
                scale: 0.1,
                label: 'home',
                title: 'home'
            })
            
          
              


            

        <% for(let i = 0; i < restaurants.length; i++) { %>
            
            // var latRand = Math.random() * (0.011 - 0.021) + 0.009;
            // var lngRand = Math.random() * (0.00141 - 0.009) + 0.009
            var latRand = Math.random() * (0.001 - 0.02) + 0.021;
            var lngRand = Math.random() * (0.003 - 0.06) + 0.0451;
            marker = new google.maps.Marker({
                position: {lat: 41.99+latRand, lng: 21.43 +lngRand},
                map: map,
                scale: 0,
                label: '<%= restaurants[i].name_en %>',
                title: '<%= restaurants[i].name_en %>'
            })

            console.log(marker.label)
            console.log(marker)
            markers.push(marker)
            console.log(markers)
            
            marker.setMap(map)

        <% } %>

    //     var pathBetween = new google.maps.Polyline({
    //   path: [myLatLng,myLatLng1],
    //   strokeColor: '#FF0000',
    //   strokeOpacity: 1.0,
    //   strokeWeight: 2
    // });

   

    
      //da se proba
    //   const path = new google.maps.Polyline({
    // path: [markers[1].getPosition(),home_marker.getPosition()],
    // geodesic: true,
    // strokeColor: "#FF0000",
    // strokeOpacity: 1.0,
    // strokeWeight: 2,
    // });

    // // console.log(markers[1].getPosition().lat,markers[1].getPosition().lng)

    // path.setMap(map);
      //da se proba

    pathBetween.setMap(map);
    console.log(home_marker);
	}
</script>
<header>
  <div class="logo">
    <img src="/restaurant.png" alt="Logo">
  </div>
  <ul>
    <li>
        <a href="/logout">Logout</a>
    </li>
    <li>
      <a href="/about">About Us</a>
    </li>
  </ul>
</header>
<div class="" id="map"></div>
<br>
<h3>
  Click on location to draw distance bewteen home and chosen restaurant, click clear to clear lines
</h3>
<br>
<div>
  <!-- <form>
      <div>
        <input class ='category'type="checkbox" id="pizza" name="category" value="pizza">
        <label for="pizza">pizza</label>
      </div>
      <div>
        <input class ='category' type="checkbox" id="meat" name="category" value="meat">
        <label for="meat">meat</label>
      </div>
      <div>
        <input class ='category' type="checkbox" id="vegan" name="category" value="vegan">
        <label for="vegan">vegan</label>
      </div>
      <div>
        <input class ='category' type="checkbox" id="mexican" name="category" value="mexican">
        <label for="mexican">mexican</label>
        </div>
      <div>
        <input class ='category' type="checkbox" id="asian" name="category" value="asian">
        <label for="asian">asian</label>
      </div>
      <div>
        <button onclick="select()">select</button>
      </div>
    </form> -->
</div>
<div class="container">
  <% restaurants.forEach(restaurant => { %>
      <div class="restaurant-card">
      <h2><%= restaurant.name_en %></h2>
      <div>
        <div>
          <button onclick="takeThere('<%= restaurant.name_en %>')" class="location">location</button>
        </div>
        <div>
          <div class="category"><span>Category:</span> <%= restaurant.category %></div>
        </div>      
      </div>
      </div>
  <% }) %>
  <button onclick="window.location.reload();" class="clear">clear</button>
</div>




<script>
    
    
    

   function takeThere(name){

    
    for(var i = 0;i<markers.length;i++)
    {
      if(name===markers[i].label){

      const path = new google.maps.Polyline({
      path: [markers[i].getPosition(),home_marker.getPosition()],
      geodesic: true,
      strokeColor: "#FF0000",
      strokeOpacity: 4.0,
      strokeWeight: 4,
    });

    // console.log(markers[1].getPosition().lat,markers[1].getPosition().lng)

    path.setMap(map);
        console.log('ok')
      }
    }

    }

    function select(){
      var checkedValue = []; 
    var inputElements = document.getElementsByClassName('category');
    for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].checked){
           checkedValue.push (inputElements[i].value);
          //  break;
      }
}
    console.log(checkedValue)
  }



    // let restaurani = '<%- str_rest %>'
    // restaurani = JSON.parse(restaurants)
    // console.log(restaurani)
    
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMraH0dFJoaQ2yJMW7R3cdAYXFpjDAaXc&callback=initMap">
</script>
  </body>
</html>




 